option_settings:
  aws:elasticbeanstalk:container:docker:
    Port: '5001'
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    ENV: production
    FLASK_ENV: production
    PUBLIC_BASE_URL: http://REPLACE_WITH_ALB_DNS_OR_DOMAIN
    CORS_ALLOWED_ORIGINS: http://REPLACE_WITH_DOMAIN
    STORAGE_PROVIDER: s3
    S3_BUCKET_NAME: REPLACE_BUCKET
    AWS_REGION: us-east-1
    S3_PRESIGN_EXPIRY_SECONDS: '900'
    FEATURE_LLM_API: 'true'
    AUTH_SECRET_KEY: REPLACE_WITH_SECRET_KEY
    LLM_SECRET_KEY: REPLACE_WITH_LLM_SECRET_KEY
    DATABASE_URL_PROD: postgresql+psycopg2://REPLACE_USER:REPLACE_PASS@REPLACE_HOST:5432/REPLACE_DB
                DB_POOL_SIZE: '10'
            DB_MAX_OVERFLOW: '10'
            DB_POOL_TIMEOUT: '30'
            DB_POOL_RECYCLE: '1800'
            
            # Production hardening
            FORCE_HTTPS: 'true'
            EB_ENV_EXPECTS_MULTI: 'true'
            
            # SSM Parameter Store
            SSM_PATH: '/sbh/prod/'
            
            # Multi-tenancy
            FEATURE_AUTO_TENANT_DEV: 'true'
            ALLOW_HEADER_TENANT: 'false'
            
            # Custom domains
            FEATURE_CUSTOM_DOMAINS: 'true'
            SHARED_DOMAIN: 'myapp.com'
            AWS_REGION: 'us-east-1'
            ROUTE53_HOSTED_ZONE_ID: 'REPLACE_WITH_HOSTED_ZONE_ID'
            ACM_CERT_VALIDATION_TIMEOUT: '900'
            FEATURE_DEV_AUTO_VERIFY_DOMAINS: 'false'
            
            # Integrations
            FEATURE_API_KEYS: 'true'
            FEATURE_WEBHOOKS: 'true'
            FEATURE_EMAIL: 'true'
            KEY_HASH_SCHEME: 'bcrypt'
            WEBHOOK_TIMEOUT_MS: '5000'
            WEBHOOK_MAX_RETRIES: '6'
            SES_REGION: 'us-east-1'
            SES_FROM_ADDRESS: 'no-reply@myapp.com'
            DEV_EMAIL_ECHO: 'true'
            
            # Analytics
            ANALYTICS_ENABLED: 'true'
            ANALYTICS_MAX_EXPORT_ROWS: '50000'
            QUOTAS_ENABLED: 'true'
            QUOTA_DEFAULTS: '{"api_requests_daily":100000,"builds_daily":200,"emails_daily":5000,"webhooks_daily":50000,"storage_gb":50}'
            
            # Marketplace
            FEATURE_MARKETPLACE: 'true'
            FEATURE_MARKET_COMMERCE: 'false'
            
            # Export
            FEATURE_EXPORT: 'true'
            FEATURE_EXPORT_GITHUB: 'true'
            EXPORT_INCLUDE_INFRA: 'true'
            EXPORT_MAX_SIZE_MB: '200'
            GITHUB_APP_ID: ''
            GITHUB_INSTALLATION_ID: ''
            GITHUB_TOKEN: ''
            
            # LLM
            FEATURE_LLM_API: 'true'
            FEATURE_LLM_SAFETY: 'true'
            LLM_DEFAULT_PROVIDER: 'openai'
            LLM_DEFAULT_MODEL: 'gpt-4o-mini'
            LLM_CACHE_TTL_S: '600'
            LLM_CACHE_ENABLED: 'true'
            TENANT_LLM_DAILY_TOKENS_LIMIT: ''
            OPENAI_API_KEY: ''
            ANTHROPIC_API_KEY: ''
            LLM_TIMEOUT_S: '30'
            LLM_RATE_LIMIT_DEFAULT: '60 per minute'
            LLM_RATE_LIMIT_BURST: '100 per hour'
            
            # Codegen Agent
            FEATURE_CODEGEN_AGENT: 'true'
            CODEGEN_MAX_DIFF_FILES: '50'
            CODEGEN_FAIL_ON_TESTS: 'true'
            
            # Agent Tools
            FEATURE_AGENT_TOOLS: 'true'
            TOOLS_HTTP_ALLOW_DOMAINS: 'jsonplaceholder.typicode.com,api.stripe.com'
            TOOLS_RATE_LIMIT_PER_MIN: '60'
            
            # Enterprise Stack
            FEATURE_ENTERPRISE_STACK: 'true'
            FEATURE_RELEASES: 'true'
            FEATURE_DEMO_SEED: 'true'
            FEATURE_FEATURE_FLAGS: 'true'
            
            # Security Hardening
            FEATURE_SECURITY_HARDENING: 'true'
            FEATURE_RLS: 'true'
            FEATURE_FIELD_RBAC: 'true'
            FEATURE_DATA_RESIDENCY: 'true'
            FEATURE_BACKUP_RESTORE: 'true'
            FEATURE_GDPR_OPS: 'true'
            
            # Data Residency
            DEFAULT_REGION: 'us-east-1'
            ENABLED_REGIONS: 'us-east-1,us-west-2,eu-west-1,ap-southeast-1'
            S3_BUCKET_US_EAST_1: 'sbh-files-us-east-1'
            S3_BUCKET_US_WEST_2: 'sbh-files-us-west-2'
            S3_BUCKET_EU_WEST_1: 'sbh-files-eu-west-1'
            S3_BUCKET_AP_SOUTHEAST_1: 'sbh-files-ap-southeast-1'
            
            # Extensibility
            FEATURE_EXTENSIBILITY: 'true'
            FEATURE_PLUGINS: 'true'
            FEATURE_WEBHOOKS_AS_CODE: 'true'
            FEATURE_APP_SCRIPTS: 'true'
            PLUGIN_STORAGE_PATH: '/tmp/plugins'
            PLUGIN_TIMEOUT_SECONDS: '5'
            PLUGIN_MEMORY_LIMIT_MB: '100'
