option_settings:
  aws:elasticbeanstalk:application:environment:
    FEATURE_REDIS: 'true'
    FEATURE_RATE_LIMITS: 'true'
    FEATURE_BG_JOBS: 'true'
    REDIS_URL: 'redis://REPLACE_ELASTICACHE_ENDPOINT:6379/0'
    RATE_LIMIT_STORAGE_URL: 'redis://REPLACE_ELASTICACHE_ENDPOINT:6379/1'
    SESSION_REDIS_URL: 'redis://REPLACE_ELASTICACHE_ENDPOINT:6379/2'
    REDIS_QUEUE_URL: 'redis://REPLACE_ELASTICACHE_ENDPOINT:6379/3'
